<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1079561294500-1ua8s8jvm17o2p29a4if0s88hjlva0b0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1079561294500-1ua8s8jvm17o2p29a4if0s88hjlva0b0</string>
	<key>API_KEY</key>
	<string>AIzaSyAvc0JQoVhiGEQt7THjSSqCuRVqVvwqpsg</string>
	<key>GCM_SENDER_ID</key>
	<string>1079561294500</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.miempresa.Snapchat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-44db5</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-44db5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1079561294500:ios:ac541890f277c545a84c31</string>
</dict>
</plist>